<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css" />
    <meta charset="utf-8" />
    <title>IRunes</title>
</head>
<body>
    <div class="container-fluid" style="background: darkgreen; border: thin solid white;">
        <a class="navbar-brand"><span style="color: white">IRunes</span></a>
        <ul class="nav  nav-pills">
            <li><a href="/"><span style="color: white;text-align: center ">Home</span></a></li>
            <li><a href="/albums/all"><span style="color: white;text-align: center">Albums</span></a></li>
            <li><a href="/users/logout"><span style="color: white;text-align: center">Logout</span></a></li>
        </ul>
    </div>
    <hr style="color: darkgreen; height: 5px; margin: 5px; border-color: darkgreen; display: block;height: auto" />

    <div class="jumbotron" style="border: thin solid white; background: darkgreen;display: block;height: auto">

        <p style="color:coral"><span style="color: white;padding-left: 20px"> Welcome,</span> {{{username}}}</p>
        <hr style="margin-left: 20px;margin-right: 20px" />

        <span style="color: white;padding: 20px">IRunes wishes you a fun experience</span>
        <br />
    </div>

    <hr style="color: darkgreen; height: 5px; margin: 5px; border-color: darkgreen; display: block; height: auto;" />
    <footer>
        <p style="text-align: center;font-weight: bold">Copyright &copy; Sanity Design Studios. All rights reserved.</p>
    </footer>

    <script src="/resources/js/jquery-3.3.1.min.js"></script>
    <script src="/resources/js/popper.min.js"></script>
    <script src="/Resources/js/bootstrap.min.js"></script>
</body>
</html>