<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css" />
    <meta charset="utf-8" />
    <title>IRunes</title>
</head>

<body>

    <div class="container-fluid" style="background: darkgreen; border: thin solid white;">
        <a class="navbar-brand"><span style="color: white">IRunes</span></a>
        <ul class="nav  nav-pills">
            <li><a href="/"><span style="color: white;text-align: center ">Home</span></a></li>
            <li><a href="/users/login"><span style="color: white;text-align: center">Login</span></a></li>
            <li><a href="/users/register"><span style="color: white;text-align: center">Register</span></a></li>
        </ul>
    </div>
    <hr style="color: darkgreen; height: 5px; margin: 5px; border-color: darkgreen;" />

    <div class="jumbotron col-md-12 col-lg-12" style="border: thin solid white; background: darkgreen;display: block;height: auto">
        <h3 style="color: white">Welcome to IRunes</h3>
        <hr />
        <a href="/users/login" style="color:coral">Login</a> <span style="color: white">If you have an account.</span>
        <br />
        <a href="/users/register" style="color: coral">Register</a> <span style="color: white">If you don't!.</span>
        <br />
    </div>

    <hr style="color: darkgreen; height: 5px; margin: 5px; border-color: darkgreen; display: block;height: auto" />
    <footer>
        <p style="text-align: center;font-weight: bold">Copyright &copy; Sanity Design Studios. All rights reserved.</p>
    </footer>

    <script src="/resources/js/jquery-3.3.1.min.js"></script>
    <script src="/resources/js/popper.min.js"></script>
    <script src="/Resources/js/bootstrap.min.js"></script>
</body>
</html>