<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css" />
    <meta charset="utf-8" />
    <title>IRunes</title>
</head>
<body>
    <div class="container-fluid" style="background: darkgreen; border: thin solid white;">
        <a class="navbar-brand"><span style="color: white">IRunes</span></a>
        <ul class="nav  nav-pills">
            <li><a href="/"><span style="color: white;text-align: center ">Home</span></a></li>
            <li><a href="/albums/all"><span style="color: white;text-align: center">Albums</span></a></li>
            <li><a href="/users/logout"><span style="color: white;text-align: center">Logout</span></a></li>
        </ul>
    </div>
    <hr style="color: darkgreen; width: 100%; height:2px; margin: 5px; border-color: darkgreen; display: block;height: auto" />
    <div class="container-fluid col-md-12">
        <h3>Albums</h3>

        <hr style="color: darkgreen; height: 2px; border-bottom: 2px;  border-color: darkgreen;height: auto" />

        <a class="btn btn-success" href="/albums/create" style="margin-left:5px">Create Album</a>
        <hr style="color: darkgreen; height: 2px; border-color: darkgreen; margin-bottom: 10px; display: block;height: auto" />
    </div>
    <div class="container-fluid col-md-12" style="text-align-all: left;tab-interval: 2%">

        {{{albumlist}}}
    </div>
    <div class="container-fluid col-md-12">
        <hr style="color: darkgreen; height: 5px; margin: 5px; border-color: darkgreen; margin-top:30px; display: block;height: auto" />

        <footer>
            <p style="text-align: center; font-weight: bold">Copyright &copy; Sanity Design Studios. All rights reserved.</p>
        </footer>
    </div>
    <script src="/resources/js/jquery-3.3.1.min.js"></script>
    <script src="/resources/js/popper.min.js"></script>
    <script src="/Resources/js/bootstrap.min.js"></script>
</body>
</html>